
#container
{
    font-family: 'Courier New';
    text-align: left;
    color: rgb(56, 56, 56);
    border: black;
    padding-left: 10%;
    padding-right: 10%;
    border-style: solid;
    background-color: azure;
}


#titulo
{
    color:rgb(45, 21, 13);
    text-align: left;
    font-family: 'Arial';
}

#cabecera
{

   text-align: left;
   color: white;
   background: blue;
   font-family: 'Times New Roman';
   font-size: 24px;
   box-shadow: -49px 20px 37px -10px black;
   font-weight: bold;

}
